@charset "utf-8";

/* GLOBAL VARIABLES */
:root {
  --primary: black;
  --secondary: lightblue;
}

@font-face {
    font-display: swap;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: Barlow;
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: Barlow;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/barlow-v12-latin-900.woff2') format('woff2');
}

/* TYPOGRAPHY */
body {
    font-family: Barlow, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 20px;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 400px;
    padding: 60px 40px 0;
    height: 100%;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

a, a:visited {
    color: black;
}

/* IMAGES */
img {
  max-width: 100%;
  height: auto;
}

.trailing {
  width: 480px;
  float: right;
  margin: 20px;
  margin-right: 0;
}

.leading {
  width: 480px;
  float: left;
  margin: 20px;
  margin-left: 0;
}

/* NAVIGATION */
nav {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary)
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
    min-width: 440px;
    max-width: 1040px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 20px 20px 16px;
    text-decoration: underline;
}

nav a:hover {
    /* background-color: rgb(129, 199, 222); */
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
}

.logo {
    float: right;
}

.logo a {
    font-size: 40px;
    font-weight: 900;
    padding: 4px 20px 8px;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
}

.current {
    font-style: italic;
}

/* FOOTER */
footer {
    font-size: 14px;
}

footer ul {
    border-top: 1px solid;
    border-color: lightgray;
    list-style-type: none;
    margin-top: 40px;
    padding: 20px 0;
}

footer ul li {
    display: inline-block;
    margin-right: 40px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
