@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
}

/* GLOBAL VARIABLES */
:root {
  --font-family: Barlow, sans-serif;
  --font-size-extra-small: 0.625rem;
  --font-size-small: clamp(0.7937rem, 0.7712rem + 0.1127vw, 0.8839rem);
  --font-size-regular: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
  --font-size-large: clamp(1.2599rem, 1.133rem + 0.6348vw, 1.7678rem);
  --font-size-extra-large: clamp(1.5874rem, 1.3593rem + 1.1407vw, 2.5rem);
  --font-size-title: clamp(2rem, 1.6161rem + 1.9194vw, 3.5355rem);
  --line-height-text: sqrt(2);
  --line-height-heading: 1.1;
}

@font-face {
  font-display: swap;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/barlow.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Barlow;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/barlow-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/barlow-bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/barlow-bold-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/barlow-black.woff2') format('woff2');
}

/* TYPOGRAPHY */
body {
  background: linear-gradient(oklch(95% 0.0025 360), oklch(100% 0 0));
  /* display: flex;
  flex-direction: column; */
  font-family: var(--font-family);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-text);
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height-heading);
}

h1 {
  font-size: var(--font-size-title);
}

h2 {
  font-size: var(--font-size-extra-large);
}

h3 {
  font-size: var(--font-size-large);
}

a, a:visited {
  color: black;
}

/* IMAGES */
img, picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.trailing {
  max-width: 40ch;
  float: right;
  margin: 2ch;
  margin-right: 0;
}

.leading {
  max-width: 40ch;
  float: left;
  margin: 2ch;
  margin-left: 0;
}

/* NAVIGATION */
header {
  backdrop-filter: blur(5px);
  background-color: oklch(100% 0 0 / 90%);
  border-bottom: 0.5px oklch(100% 0 0 / 95%) solid;
  position: sticky;
  top: 0px;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 0 1rem;
  justify-content: flex-end;
  margin: 0 auto;
  max-inline-size: 70ch;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  overflow-x: auto;
  scrollbar-width: none;
}

nav ul li {
  text-wrap: nowrap;
}

nav ul li a {
  text-decoration: underline;
}

nav a:hover {
  /* background-color: rgb(129, 199, 222); */
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  margin-inline-start: auto;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}

.current {
  font-style: italic;
}

/* MAIN CONTENT */
/* main {
  flex: 1;
} */

main, footer {
  margin: 0 auto;
  max-inline-size: 70ch;
  padding-inline: 2ch;
}

/* FOOTER */
footer {
  background: oklch(95% 0.0025 360);
  display: block flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

footer * {
  font-size: var(--font-size-small);
}

footer ul {
  list-style-type: none;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
