<!DOCTYPE html>
<html lang=de>

<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">

<link rel=stylesheet href=/style.css>

<meta name=author content="Elikia ya Kongo">
<meta name=description content="{{ description }}">

<title>{{ title }}</title>

<a class=skip-link href=#main>Zum Inhalt</a>

<header>
  <nav>
    <a class=logo href=#>elikia</a>
    <ul>
      <li><a href=/ziele/>Ziele</a>
      <li><a href=/projekte/>Projekte</a>
    </ul>
  </nav>
</header>

<main id=main>
  <h1>{{ title }}</h1>
  <p>Inhalt oder Blindtext.
</main>

<footer>
  <address>
    <p>Elikia ya Kongo
    <br>Knechtacherstrasse 9
    <br>8630 Rüti
    <p>Tel <a href=tel:+41552602530>+41 55 260 25 30</a>
    <br>Mail <a href=mailto:info@elikia.ch>info@elikia.ch</a>
  </address>

  <p>Spendenkonto
  <br>PostFinance AG
  <br>BIC POFICHBEXXX
  <br>IBAN CH17 0900 0000 1620 7869 2

  <nav>
    <ul>
      <li><a href=/impressum/>Impressum</a>
      <li><a href=/datenschutz/>Datenschutzerklärung</a>
      <li><a href=/spenden/>Spenden</a>
    </ul>
  </nav>
</footer>
